<nb-layout>

    <nb-layout-header>Demo 8 : Les Directives D'attributs customs !<br></nb-layout-header>

    <nb-layout-column>
        <nb-card status="success">
            <nb-card-header>Directive d'attribut custom</nb-card-header>
            <nb-card-body>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris eros, rutrum vitae ante sed, accumsan dignissim eu risus.</p>
                <p appPrepareRender>Duis ac viverra nulla. Proin eleifend odio sed bibendum consequat. Vestibulum ultrices facilisis aliquam.</p>
                <p>Maecenas vitae consequat tortor. Phasellus ultrices semper metus lacinia dapibus.</p>
                <p appPrepareRender>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris eros, rutrum vitae ante sed, accumsan dignissim nisi. </p>
                <p>Praesent eu ante justo. Sed ullamcorper diam sed purus dapibus, et convallis neque vestibulum. Fusce lobortis id sapien in ultricies.</p>
            </nb-card-body>
            <nb-layout-footer>
            </nb-layout-footer>
          </nb-card>
    </nb-layout-column>


    <nb-layout-column>
        <nb-card status="success">
            <nb-card-header>Directive d'attribut custom sur event</nb-card-header>
            <nb-card-body>
                <p appHighlight>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris eros, rutrum vitae ante sed, accumsan dignissim eu risus.</p>
                <p appHighlight>Duis ac viverra nulla. Proin eleifend odio sed bibendum consequat. Vestibulum ultrices facilisis aliquam.</p>
                <p appHighlight>Maecenas vitae consequat tortor. Phasellus ultrices semper metus lacinia dapibus.</p>
                <p appHighlight>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris eros, rutrum vitae ante sed, accumsan dignissim nisi. </p>
                <p appHighlight>Praesent eu ante justo. Sed ullamcorper diam sed purus dapibus, et convallis neque vestibulum. Fusce lobortis id sapien in ultricies.</p>
            </nb-card-body>
            <nb-layout-footer>
            </nb-layout-footer>
          </nb-card>
    </nb-layout-column>

</nb-layout>