<nb-layout>

    <nb-layout-header>Demo 11 : Les Guard, ou comment gérer les accès au pages<br></nb-layout-header>

    <nb-layout-column>
        <nb-card status="success">
            <nb-card-header>Données accessible uniquement si on est connecté</nb-card-header>
            <nb-card-body>

                COOKIES POLICY<br><br>
This policy applies to cookies and other technologies used on the public electronic communication services published by FN Herstal<br>
 that are user-accessible via a connection terminal (computer, tablet, smartphone, etc.), from the following addresses among others:<br>
  fnherstal.com, fnherstal.eu, fnherstal.be.<br>
FN Herstal may, at any time and without prior notice, but subject to the issue of a special notice, make changes to all or part of<br>
 this cookies policy relating to the services published by FN Herstal.<br><br>

1. Definitions<br><br>

1.1. Cookies<br>
Cookies are non-executable text files placed on your computer or device by us or by a third party (advertiser, advertising agency)<br>
 when you browse our Services, unless blocked by you. The data we collect as you browse and use our Services is for our attention.<br>
The Cookies that we manage allow us to, for example, know how many terminals are accessing our Services, to gather statistics<br>
 on the number of visits, tailor Service and advertising content, save users having to re-enter information they have already<br>
  provided from their current terminal, etc. By continuing to browse our Services, you are agreeing to our use of cookies on your terminal.<br>
   Disabling the use of cookies entirely may prevent you enjoying the full range of features available from our Services.<br><br>

1.2. Other trackers and similar technologies<br>
We may also use other, similar technologies on our sites, such as tags and/or web beacons. This takes the form of, for example,<br>
 bits of code included in a web page’s HTML code that can detect when a user visits our Services. They communicate with servers<br>
  for purposes such as those indicated below.<br><br>

2. Types of cookies and similar technologies used by our services<br><br>

2.1. Preference cookies<br>
Some cookies collect information about browser and/or terminal settings such as display resolution, choice of language,<br>
 security settings, etc. Being able to tailor the layout of our Services to your settings is a vital feature in delivering full Service usability.<br><br>

2.2. Session cookies<br>
Session cookies store information entered by you on our forms when signing up for one of our Services.<br>

            </nb-card-body>
            <nb-card-footer>Les "Guards" ne doivent en aucun cas être considérés comme un mécanisme de sécurité.<br>
                Les "Guards" servent à améliorer la "User eXperience" en évitant par exemple l'accès à des "routes"
                 qui ne fonctionneraient pas car l'accès aux données serait rejeté par l'API.(promesse :) )</nb-card-footer>
          </nb-card>
    </nb-layout-column>


</nb-layout>